.gallery {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery li {
  display: inline-block;
  vertical-align: top;
  padding: 5px; /* Add some padding between images */
}

.gallery img {
  width: 100%;
  height: 300px; /* Fixed height for images */
  object-fit: cover;
  max-width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:checked,
.btn-primary:active {
  color: #fff;
  background-color: var(--primary-color) !important;
  border-color: #ffffff;
}

@media (min-width: 768px) {
  .gallery li {
    width: 16.66%; /* 6 images per row on medium and larger screens */
  }
}

.sandColor {
  color: var(--white-color);
}

.balckText {
  color: #1c2b39 !important;
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  z-index: 10;
  pointer-events: none;
  width: 50px !important;
  height: 50px !important;
}

#prev {
  left: -20px;
}

#next {
  right: -40px;
}

.video-icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
}

.gallery li:hover .video-icon-overlay {
  opacity: 1;
}

.tabs {
  color: #fff;
  text-align: center;
  font-size: larger;
}

.tablink {
  cursor: pointer;
}

.active-tab {
  font-weight: bolder;
  color: var(--primary-color) !important;
  transition: all 0.3s ease;
}
/* Info Icon positioning */
.info .fa-info {
  margin: 5px auto;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 12;
  transition: opacity 0.3s ease;
  border: 1px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile content hidden initially */
.profile-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 10;
  opacity: 0; /* Initially transparent */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for both opacity and movement */
}

.profile-content p {
  font-size: 0.9em;
  color: white;
}
/* Display overlay with animation */
.info.active .profile-content {
  display: block;
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* No shift */
}

/* Angle-down icon initially hidden */
.info .fa-angle-down {
  display: none;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 15;
}

/* Show angle-down when active */
.info.active .fa-angle-down {
  display: block;
}

/* Smooth transition for info icon hiding */
.info.active .fa-info {
  opacity: 0; /* Fade out info icon when the content appears */
}

.info {
  background-color: white;
}
