.gallery {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery li {
  display: inline-block;
  vertical-align: top;
  padding: 5px; /* Add some padding between images */
}

.gallery img {
  width: 100%;
  height: 300px; /* Fixed height for images */
  object-fit: cover;
  max-width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:checked,
.btn-primary:active {
  color: #fff;
  background-color: var(--primary-color) !important;
  border-color: #ffffff;
}

@media (min-width: 768px) {
  .gallery li {
    width: 16.66%; /* 6 images per row on medium and larger screens */
  }
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  z-index: 10;
  pointer-events: none;
  width: 50px !important;
  height: 50px !important;
}

#prev {
  left: -20px;
}

#next {
  right: -40px;
}

.video-icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
}

.gallery li:hover .video-icon-overlay {
  opacity: 1;
}

.tabs {
  color: #fff;
  text-align: center;
  font-size: larger;

}

.tablink {
  cursor: pointer;
}

.active-tab {
  font-weight: bolder;
  color: var(--primary-color) !important;
  transition: all 0.3s ease;
}
